#### EXERCICE 1

In [6]:
n=int(input('Entrer un nombre :'))
def fact(n):
    facto=1
    for i in range(1, n+1):
        facto = facto*i
    return f' le factorielle de {n} est :{facto}'
   
fact(n)

Entrer un nombre :3

' le factorielle de 3 est :6'

####  EXERCICE 2

In [16]:
n=int(input('Entrer un nombre :'))
liste = []
def impair(n):
    i = 1
    while i <=n:
        liste.append(i)
        i = i + 2
    return liste
impair(n)

Entrer un nombre :10

[1, 3, 5, 7, 9]

#### EXERCICE 3

In [22]:
liste =[17, 38, 10, 25, 72] #triez et affichez la liste
liste.sort()
print(liste)

[10, 17, 25, 38, 72]

In [23]:
# ajoutez l’élément 12 à la liste et affichez la liste 
liste.append(12)
print(liste)

[10, 17, 25, 38, 72, 12]

In [24]:
# renversez et affichez la liste
liste.reverse()
print(liste)

[12, 72, 38, 25, 17, 10]

In [25]:
# affichez le nombre d’éléments de la liste
len(liste)

6

In [26]:
# supprimez l’élément 38 et affichez la liste
liste.remove(38)
print(liste)

[12, 72, 25, 17, 10]

In [29]:
# affichez la sous-liste du 2e au 3e élément 
liste[1:3]

[72, 25]

In [34]:
#  affichez la sous-liste du début au 2e élément ;
liste[:2]

[12, 72]

In [32]:
# affichez la sous-liste du 3e élément à la fin de la liste
liste[2:]

[25, 17, 10]

#### EXERCICE 4

In [4]:
def doublon(liste):
    unique = []
    for i in liste:
        if i not in unique:
            unique.append(i)
    return unique

# Exemple
liste = [2, 7, 13, 2, 2, 13, 2, 7, 13, 18, 22, 18]
print(doublon(liste))

[2, 7, 13, 18, 22]